<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill ticket</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/dist/jquery.min.js}"></script>

</head>
<body>
<h1 class="text-center">Create ticket</h1>
<form method="post" th:action="@{/tickets/create}">
    <strong class="text-center">Passenger</strong>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">First Name</span>
        <input type="text" class="form-control" placeholder="First Name" aria-label="First Name" name="firstName"
               aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Last Name</span>
        <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" name="lastName"
               aria-describedby="basic-addon2">
    </div>
    <strong class="text_center">Ticket details</strong>
    <div class="input-group mb-3">
        <input type="hidden" th:value="${routeId}" name="routeId">
        <label for="departureStation" class="input-group-text" id="basic-addon3">Departure Station</label>
        <select name="departureStation" id="departureStation" class="form-select" th:inline="javascript">
            <option value="" class="default" th:selected>(select)</option>
            <option th:each="schedule: ${schedules}" th:with="station=${schedule.getStation()}"
                    th:value="${station.getId()}"
                    th:text="${#strings.concat(station.getName(), ',', station.getStreet(), ',', station.getNumberStreet())}"></option>
        </select>
        <label for="arrivalStation" class="input-group-text" id="basic-addon4">Arrival Station</label>
        <select name="arrivalStation" id="arrivalStation" class="form-select">
            <option value="" class="default" th:selected>(select)</option>
            <option th:each="schedule: ${schedules}" th:with="station=${schedule.getStation()}"
                    th:value="${station.getId()}"
                    th:text="${#strings.concat(station.getName(), ',', station.getStreet(), ',', station.getNumberStreet())}"></option>
        </select>
    </div>
    <div class="input-group mb-3">
        <label for="price" class="input-group-text" id="basic-addon5">Price:</label>
        <input type="number" step="0.01" min="0" class="form-control" name="price" id="price">
        <label for="tripDate" class="input-group-text" id="basic-addon6">Trip date:</label>
        <input type="date" class="form-control" name="tripDate" id="tripDate">
    </div>
    <div class="container">
        <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
</form>
</body>
</html>