<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.css}">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <strong class="logo"><a href="http://localhost:8080"><img src="/img/bus.jpg"  alt="Logo"></a></strong>
        <h1 class="text-center">Find routes</h1>
        <h2 class="text-center font-monospace"><a data-th-href="@{/routes}">Schedule all routes</a></h2>
    </header>
    <main>
        <form  action="routes/list" method="get" class="container">
            <div class="row">
                <div class="col">
                   <label for="from">From:
                       <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                               name="from" id="from" >
                           <option value="default" selected>From</option>
                           <optgroup th:each="location: ${locations}" th:label="${location.getName()}">
                               <option th:value="${station.getId()}" th:each="station: ${location.getStations()}"
                                       th:text="${#strings.concat(station.getName(), ',',
                               station.getStreet(), ',', station.getNumberStreet())}"></option>
                           </optgroup>
                       </select>
                   </label>
                </div>
                <div class="col">
                    <label for="to">To:
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                name="to" id="to">
                            <option value="default" selected>To</option>
                            <optgroup th:each="location: ${locations}" th:label="${location.getName()}" >
                                <option th:value="${station.getId()}" th:each="station: ${location.getStations()}" th:text="${#strings.concat(station.getName(), ',',
                               station.getStreet(), ',', station.getNumberStreet())}"></option>
                            </optgroup>
                        </select>
                    </label>

                </div>
                <div class="col">
                    <label for="date">Date:
                        <input type="date" name="date" class="form-control" id="date"
                               data-th-min="${#temporals.createNow()}" data-th-max="${#temporals.createNow().plus(T(java.time.Period).ofMonths(1))}">
                    </label>
                </div>
                <div class="col">
                    <label for="find">Find:<button type="submit" id="find" class="form-control">Find</button></label>
                </div>
            </div>
        </form>
    </main>

</body>
</html>