<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route details</title>
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.css}">
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css}">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<h1 class="text-center">Route number: <span data-th-text="${route.getName()}"></span></h1>
<div class="container">
    <div class="text-info container-table fs-4">
        <em data-th-text="${route.getDepartureStation().getLocation().getName()}"></em> &dash;
        <em data-th-text="${route.getArrivalStation().getLocation().getName()}"></em><br>
        <em data-th-text="${route.getDepartureTime()}"></em>&dash;
        <em data-th-text="${route.getArrivalTime()}"></em><br>
    </div>
    <strong>Path:</strong>
    <ul class="list-group">
        <li class="list-group-item fs-3 text-success" data-th-each="schedule: ${schedules}"
            data-th-with="station=${schedule.getStation()}">
            <em data-th-text="${station.getLocation().getName()}"></em>: Arrival time:
            <time data-th-text="${schedule.getArrivalTime()}"></time> Departure time:
            <time data-th-text="${schedule.getDepartureTime()}"></time>
            <br>
            <small data-th-text="${station.getName() + ','+ station.getStreet() + ',' + station.getNumberStreet()}"></small>
        </li>
    </ul>
    <strong>Bus Info:</strong><br>
    <ul class="list-group">
        <li class="list-group-item fs-3">Bus model: <em data-th-text="${route.getBus().getModel()}"></em></li>
        <li class="list-group-item fs-3">Bus number: <em data-th-text="${route.getBus().getBusNumber()}"></em></li>
        <li class="list-group-item fs-3">Seats: <em data-th-text="${route.getBus().getSeats()}"></em></li>
    </ul>
    <form method="post" data-th-action="@{/tickets/fromRoute/create/new_ticket}">
        <input type="hidden" name="routeId" data-th-value="${route.getId()}">
        <div class="d-grid gap-2 text-center">
            <button type="submit" class="btn btn-info">Buy ticket</button>
        </div>
    </form>
    <a data-th-href="@{/routes}" class="text-center fs-5">Back to routes</a>
</div>
</body>
</html>